.bouncing-dot {
  display: inline-block;
  width: var(--animation-element-size);
  height: var(--animation-element-size);
  border-radius: 50%;
  background: var(--animation-element-color);
  animation: wave var(--animation-speed) linear infinite;
}

.bouncing-dot:nth-child(2) {
  animation-delay: var(--animation-delay-first);
}

.bouncing-dot:nth-child(3) {
  animation-delay: var(--animation-delay-second);
}

@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
  }

  30% {
    transform: translateY(calc(-1 * var(--animation-size)));
  }
}
