.enlarging-dot {
  display: inline-block;
  width: var(--animation-element-size);
  height: var(--animation-element-size);
  border-radius: 50%;
  background: var(--animation-element-color);
  animation: enlarge var(--animation-speed) linear infinite;
}

.enlarging-dot:nth-child(2) {
  animation-delay: var(--animation-delay-first);
}

.enlarging-dot:nth-child(3) {
  animation-delay: var(--animation-delay-second);
}

@keyframes enlarge {
  0%, 60%, 100% {
    transform: initial;
  }

  30% {
    transform: scale(var(--animation-element-scaling));
  }
}
