.growing-bar {
  display: inline-block;
  width: var(--animation-element-size);
  height: var(--animation-element-size);
  background: var(--animation-element-color);
  animation: grow var(--animation-speed) linear infinite;
}

.growing-bar:nth-child(2) {
  animation-delay: var(--animation-delay-first);
}

.growing-bar:nth-child(3) {
  animation-delay: var(--animation-delay-second);
}

@keyframes grow {
  0%, 100% {
    height: var(--animation-element-size);
    margin-top: calc(var(--animation-size) - var(--animation-element-size));
  }

  30% {
    height: var(--animation-size);
    margin-top: 0;
  }

  60% {
    height: 0;
    margin-top: var(--animation-size);
  }
}
