.rotating-dot {
  display: inline-block;
  width: var(--animation-element-size);
  height: var(--animation-element-size);
  border-radius: 50%;
  background: var(--animation-element-color);
  animation: rotate var(--animation-speed) linear infinite;
}

.rotating-dot:nth-child(2) {
  animation-delay: var(--animation-delay-first);
}

.rotating-dot:nth-child(3) {
  animation-delay: var(--animation-delay-second);
}

@keyframes rotate {
  0%, 100% {
    transform: initial;
  }

  50% {
    transform: rotateX(-90deg);
  }
}
