/* VARIABLES */

:root {
  --animation-element-size: 16px;
  --animation-element-spacing: 2px;
  --animation-element-color: #fff;
  --animation-speed: 0.9s;
  --animation-delay-first: -0.7s;
  --animation-delay-second: -0.5s;
  --animation-size: calc(2 * var(--animation-element-size));
  --animation-element-scaling: 1.4;
}

/* STYLE NEEDED JUST FOR THE PRESENTATION */

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(0,0,0,0.65);
  flex-direction: column;
}

h1 {
  flex: 0 0 auto;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%;
}

.animation {
  text-align: center;
}

.animation span {
  margin: 0 var(--animation-element-spacing);
}

p {
  margin-top: var(--animation-element-size);
  color: var(--animation-element-color);
}
