/* Inspired by https://piccalil.li/tutorial/create-a-user-controlled-dark-or-light-mode/ */

:root {
  --color-mode: 'light';
  --color-dark: #141414;
  --color-light: #efefef;
  --icon-sun: '\263c';
  --icon-moon: '\263D';
  --background: var(--color-light);
  --text-color: var(--color-dark);
  --animation-element-color: var(--color-dark);
  --button-icon: var(--icon-moon);
  --button-background: var(--color-dark);
  --button-color: var(--color-light);
  --toggle-background: teal;
  --toggle-left: 4px;
  --toggle-transform: translateX(0);
}

.visually-hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}

body {
  background: var(--background);
  color: var(--text-color);
  transition: background 500ms ease-in-out, color 200ms ease;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }

  :root:not([data-user-color-scheme]) {
    --background: var(--color-dark);
    --text-color: var(--color-light);
    --animation-element-color: var(--color-light);
    --button-icon: var(--icon-sun);
    --button-background: var(--color-light);
    --button-color: var(--color-dark);
    --toggle-background: grey;
    --toggle-left: calc(100% - 4px);
    --toggle-transform: translateX(-100%);
  }
}

[data-user-color-scheme='dark'] {
  --background: var(--color-dark);
  --text-color: var(--color-light);
  --animation-element-color: var(--color-light);
  --button-icon: var(--icon-sun);
  --button-background: var(--color-light);
  --button-color: var(--color-dark);
  --toggle-background: grey;
  --toggle-left: calc(100% - 4px);
  --toggle-transform: translateX(-100%);
}

.no-js .user-toggle {
  display: none;
}

.user-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
}

#switch-theme {
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	width: 88px;
	height: 48px;
  background: var(--toggle-background);
	display: block;
	border-radius: 48px;
	position: relative;
  font-size: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 1em;
}

label:after {
	content: '';
	position: absolute;
	top: 4px;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 40px;
	transition: 200ms;
  left: var(--toggle-left);
  transform: var(--toggle-transform);
}

label:active:after {
	width: 60px;
}
